<?xml version="1.0"?>
<launch>
	<!-- acquisition arguments -->
		<arg name="plugin" default='rosneuro::EGDDevice'/>
		<arg name="devarg" default='$(env HOME)/Desktop/test16channels.gdf'/>
		<arg name="framerate"  default='16'/>
		<arg name="samplerate" default='512'/>

	<!-- processing arguments -->
		<arg name="lap_path"      default='$(env HOME)/Desktop/laplacian16.dat'/>
		<arg name="decoder_path"  default='$(env HOME)/Desktop/classifier16channels.dat'/>
		<arg name="n_channels"    default='16'/>
		<arg name="eog_threshold" default='43.0'/> 

	<!-- control framework arguments -->
		<arg name="integratorplugin"   default="rosneuro::Exponential"/>
		<arg name="thresholds"   	   default='[0.9, 0.9]'/>
		<arg name="reset_on_threshold" default='True'/>
		<arg name="alpha" 	    	 default='0.98'/>

	<!-- protocol arguments -->
		<arg name="subject"   default="TST"/>
		<arg name="modality"  default="control"/>
		<arg name="task"      default="mi_bhbf"/>
		<arg name="extra"     default=""/>

	<!-- feedback arguments -->
		<arg name="angle_min"	default='0.0'/>
		<arg name="angle_max"	default="180.0"/>
			
	<!-- game arguments -->
		<arg name="game_address"	default='192.168.1.37'/>
		<arg name="game_port"   default='59075'/>

	<!-- Protocol parameters -->
		<rosparam param="/protocol/subject"	 subst_value="True">$(arg subject)</rosparam>
		<rosparam param="/protocol/modality" 	 subst_value="True">$(arg modality)</rosparam>
		<rosparam param="/protocol/task"	 subst_value="True">$(arg task)</rosparam>
		<rosparam param="/protocol/extra"	 subst_value="True">$(arg extra)</rosparam>


	<!-- interface to the game node -->
			<!-- <node pkg="ros_cybathlon_interface" type="ros_cybathlon_interface" name="ros_cybathlon_interface" />  -->

	<!-- ROS-Neuro pipeline -->
	<!-- Aquisition of the BMI signals -->
	<node name="acquisition" pkg="rosneuro_acquisition" type="acquisition" output="screen" >
		<param name="~plugin" 	  value="$(arg plugin)"/>
		<param name="~devarg" 	  value="$(arg devarg)"/>
		<param name="~samplerate" value="$(arg samplerate)"/>
		<param name="~framerate"  value="$(arg framerate)"/>
	</node>
  
	<!-- processing of the data -->
	<node name="smrbci" pkg="rosneuro_processing" type="test_smrbci" output="screen">
		<param name="~lap_path" value="$(arg lap_path)"/>
		<param name="~decoder_path" value="$(arg decoder_path)"/>
		<param name="~n_channels" value="$(arg n_channels)"/>
	</node>
  
	<!-- Integrator node | exponential -->
	<node name="integrator" pkg="rosneuro_integrator" type="integrator" output="screen">
		<rosparam param="plugin" subst_value="True">$(arg integratorplugin)</rosparam>
		<rosparam param="thresholds" subst_value="True">$(arg thresholds)</rosparam> 
		<rosparam param="alpha" subst_value="True">$(arg alpha)</rosparam>
		<rosparam param="reset_on_threshold" subst_value="True">$(arg reset_on_threshold)</rosparam>
		<remap from="/smr/neuroprediction" to="/smrbci/neuroprediction"/>
		<remap from="/integrated" to="/integrator/neuroprediction"/>
	</node> 

  	<!-- neurowheel node -->
	<node name="singlewheel" pkg="rosneuro_feedback_wheel" type="singlewheel"  output="screen">
		<param name="~angle_min"  value="$(arg angle_min)"/>
		<param name="~angle_max"  value="$(arg angle_max)"/>
		<rosparam param="thresholds" subst_value="True">$(arg thresholds)</rosparam>

	</node>

	<!-- Game controller for navigation -->
	<node pkg="rosneuro_cybathlon_controller" type="navigation_controller" name="navigation_controller" output="screen">
	</node>

	<!-- interface to the game -->
	<node pkg="ros_cybathlon_interface" type="gameinterface" name="gameinterface" output="screen">
		<param name="~game_address" value="$(arg game_address)"/>
		<param name="~game_port"  	value="$(arg game_port)"/>
	</node>
</launch>
